
/* *** DEVICE LAYOUTS BELOW *** */




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



@media only screen and (max-width: 992px) {
  /* .img-overlay img {
    display:none;
  }
  .img-overlay p, .img-overlay h4 {
    width: 100%
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
.imageHolder {
  display: none;
  }

.languageLinks {
  margin-top: 4%;
  /* width: 50%; */
}

.topGreenButons {
  font-size: 1.8vw;
}

/* .topImageHolder {
  height: 55vw;
} */

.donalelenilsonContent {
height: 48vw;
}

.CollectionStarts {
height: 34vw;
}

.currentActivity {
  height: 204vw;
}

.mayoresColectionImages {
  width: 75px;
}

.imageHolderMobile {
display: block;
position: relative;
float: left;
width: 100%;
height: 100%;
}

.imageHolderMobile img {
  height: auto !important;
}

.img-overlayMobile {
background-color: #000;
/* bottom: 0; */
color: #fff;
filter: alpha(opacity = 0);
position: auto;
/* width: auto !important; */
z-index: 500;
text-align: left;
background: rgba(0, 0, 0, 0.6);
/* left: 9%; */
/* width: 80% !important;
    margin-left: 10%; */
}

.img-overlayMobile p, .img-overlayMobile h4 {
  font-size: 6pt;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
}

.img-wrap {
position: relative!important;
text-align: center!important;
float: left!important;
margin: 0px;
width: 64px!important;
height: 100%!important;
}

/* .nuevas {
width: 96%;
height: 50%;
padding: 2%;
margin-bottom: 7%;
} */

.titleText {
font-size: 2.5vw;
padding-top: 1%;
/* margin-left: 7%; */
}
.hs {
  grid-template-rows: auto;
  grid-auto-columns: calc(70px);
}
.imageHolderContents {
  margin-left: 0px;
}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .topBar {
    width: 100%;
    height: 35vw;
  }
  .topBarLeftContant {
    width: 100%;
    height: 50%;
    /* left: 30%;
    transform: translateX(-50%); */
  }
  .topBarRightContant {
    position: relative;
    float: right;
    width: 100%;
    height: 50%;
  }
  .loginButtons {
    top: 1%;
    transform: translateY(0%);
    height: 100%;
  }
  .buttonsHolder {
    height: 30%;
  }

  .topGreenButons {
    font-size: 2.5vw!important;
    width: 49%;
  }

  .winplace {
    min-width: auto;
  }

  .contestant {
  margin-right: 4%;;
  float: left;
  width: 143px;
  }
  .contestantOther {
  margin-right: 2%;;
  float: left;
  width: 64px;
  }


}
