a:link 	  {  	color: #3A673D; }
a:visited {  	color: #3A673D; }
a:active   {  	color: #A2C496; }
a:hover 	  {  	color: #A2C496; }

body {
	background-color: #333;
	border: none;
	font: normal 76%/1.4 verdana, arial, helvetica, sans-serif;
	color: black;
	padding:0px;
	margin:0px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

#wrapperGlobal {
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
	width:1220px;
	text-align:center;

}

#panelOpciones {
	background-color: #white;
	width:1220px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

#panelIzquierdo {
	background-color: #cDD;
	text-align:center;
	vertical-align:text-top;
	width: 200px;
}

#publicidad {
	width:100%;
	background-color:#335621;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#contenidoCentral {
	text-align:left;
	vertical-align:left;
	vertical-align:text-top;
	width:100%;
	background-color:#C8D1A1;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.cabezaCactusero {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left:20px;
	color:yellow;
	height:25px;
	BACKGROUND: url('/Imagenes/cactusero_cabeza_chica.png') no-repeat;
}

hr {
  height: 1px;
  color: #333333;
  background-color: #ffffff;
}

.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}

.titulo2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #747474;
}

.titulo3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #747474;
}

a { font-size: 11pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.destacadoActividades { color:yellow; }

.actividadReciente { width:95%; text-align:left; color:#D1E1C8; font-family: Arial, Helvetica, sans-serif; font-size:11px;}
.actividadReciente #tablaActividades { width:100%;  border-style:none; border-width:0px; }
.actividadReciente #tablaActividades a { font-size:13px; font-weight:bold; color:white;}
#fotitoActividad { vertical-align: top; text-align:center; width:32px; }

#tablaActividades tr {
	background-color: #28391F;
        color: #FFCC00;
}

#tablaActividades td {
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

table.fondoTabla tr.fondoClaro td {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	color: white;
}

table.fondoTabla tr.fondoClaro  {
	background-color:#7EAF6F;
}

table.fondoTabla a{
	font-size: 10pt;
	font-family:arial;
	color: white;
}

table.fondoTabla li{
	border-style: none;
	font-size: 10pt;
	font-family:arial;
}

table.fondoTabla ul{
	border-style: none;
	font-size: 10pt;
	font-family:arial;
}

table.fondoTabla p{
	border-style: none;
	font-size: 10pt;
	font-family:arial;
}

table.fondoTabla, .fondoTabla{
	border-width: 0px;
	border-spacing: 1px;
	border-style: none;
	border-color:  none;
	border-collapse: separate;
	background-color: #333;
	font-size: 10pt;
	font: normal normal normal 11px/normal 'Trebuchet MS', Verdana, Arial, sans-serif;
	text-decoration: none;
	color: #D1E1C8;
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

table.fondoTabla tr {
	border-width: 0px;
	padding: 2px;
	border-style: none;
	border-spacing: 0px;
	border-color:  none;
	background-color: #333;
	-moz-border-radius: 0px 0px 0px 0px;
}

tr.fondoTabla th {
border-width: 0px;
	padding: 2px;
	border-style: none;
	border-spacing: 0px;
	border-color:  none;
	background-color: #333;
	-moz-border-radius: 0px 0px 0px 0px;
	font-size: 10pt;
	font-family:arial;
}

tr.fondoTabla td {
	border-width: 0px;
	padding: 2px;
	border-style: none;
	border-color:  none;
	border-spacing: 0px;
	background-color: #333;
	-moz-border-radius: 0px 0px 0px 0px;
	font-size: 10pt;
	font-family:arial;
	text-align:center;
}

h1 {font-size: 18px; font-family: arial, verdana, helvetica, sans-serif; word-wrap: break-word; color: #3A673D;}
h2 {font-family: arial, sans-serif; font-size: 16px; color: #2A572D;}
h3 {font-family: arial, sans-serif; font-size: 15px; color: #3A673D;}
h4 {font-family: arial, sans-serif; font-size: 14px; color: #3A673D;}
h5 {font-family: arial, sans-serif; font-size: 12px; color: #3A673D;}
h6 {font-family: arial, sans-serif; font-size: 11px; color: #3A673D;}

.tablaSugerencias
{
	border-width: 0px;
	border-style: none;
	border-color: #F6E6CC;
	background-color: #F6E6CC;
}

.tdFoto {
	border-width: 0px;
	padding: 2px;
	border-style: none;
	border-color: #26262C;
	background-color: #26262C;
}

.tdTexto {
	border-width: 0px;
	padding: 2px;
	border-style: none;
	border-color: #BAE6BA;
	background-color: #BAE6BA;
	font-size: 8pt;
	font-family:arial;
	width:350px;
}

.tdTexto2 {
	border-width: 0px;
	padding: 2px;
	border-style: none;
	border-color: #BAE6BA;
	background-color: #BAE6BA;
	font-size: 8pt;
	font-family:arial;
}

.tdTexto a:link, .tdTexto a:visited, .tdTexto a:active, .tdTexto a:hover 	  { font-size: 10pt;}
h6 a:link, h6 a:visited, h6 a:active, h6 a:hover 	  { font-size: 10pt;}

.tablaFondoClaritoGlobal {
	border-width: 0px;
	border-style: none;
	border-color: #C6E6CC;
	background-color: #333;
}

em {
	font-size: 150%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	color: red;
}

img {border-radius: 4px;
-webkit-border-radius: 4px; border: 0; font: 11px 'arial narrow', arial, helvetica, verdana, sans-serif; color: #666;}

.conMarcoMediano{
	box-shadow: 3px 3px 4px #151515;-moz-box-shadow: 3px 3px 4px #151515;
}

.conMarcoChico{
  	box-shadow: 3px 3px 4px #151515;
	-moz-box-shadow: 3px 3px 4px #151515;
}

.conMarco{
	box-shadow: 5px 5px 4px #191919;-moz-box-shadow: 5px 5px 4px #191919;
}

.conMarcoGrande{
	box-shadow: 10px 10px 5px #191919;-moz-box-shadow: 10px 10px 5px #191919;
}




/* ### comentarios ### */
#comentarios {
	clear:both;
	width:900px;
	margin:auto;
	text-align: left;
}

#comentarios h3 {
	clear:both;
	margin:1em auto;
	color:#036;
	font-size:1.5em;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-bottom:.2em solid #DDD;
	text-align: left;
}

#comentarios a:hover {
	color:#F90;
}

#comentarios #comentarios-liste {
	width:900px;
	margin:0 auto;
	color:#036;
	text-align: left;
}
#comentarios .com_0,
#comentarios .com_1,
#comentarios .com_rep {
	width:372px;
	font-size:9pt;
	text-indent:0 !important;
	line-height:1.2;
	text-align: left;
}
#comentarios .com_0 {
	float:right;
	font-size:9pt;
	text-align: left;
}
#comentarios .com_1 {
	clear:right;
	font-size:9pt;
	text-align: left;
}
#comentarios .com_rep {
	margin:auto;
	clear:both;
}
#comentarios .com_ht {
	width:372px;
	height:15px;
	background:url(../Imagenes/Comentarios/commentaire_haut.png) bottom center no-repeat;
}
#comentarios blockquote {
	margin:0;
	padding:0 15px 0 10px;
	text-indent:20px;
	text-align: left;
	background:url(../Imagenes/Comentarios/commentaire_fond.png) top left repeat-y;
}
#comentarios blockquote p {
	margin:0;
	padding:0;
	text-align: left;
	text-indent:0;
}
#comentarios .com_bas {
	width:322px;
	height:30px;
	font-size:8pt;
}
#comentarios .com_bas a{
	font-size:9pt;
}

#comentarios .com_1 .com_bas {
	padding:15px 0 0 50px;
	text-align:left;
	background:url(../Imagenes/Comentarios/commentaire_bas_gch.png) top left no-repeat;
}
#comentarios .com_0 .com_bas {
	padding:15px 50px 0 0;
	text-align:right;
	background:url(../Imagenes/Comentarios/commentaire_bas_dte.png) top right no-repeat;
}
#comentarios .com_rep .com_bas {
	padding:15px 50px 0 0;
	text-align:right;
	background:url(../Imagenes/Comentarios/commentaire_bas_dte.png) top right no-repeat;
}


#comentarios #comment-faq-en {
	position:absolute;
	top:194px;
	left:78px;
}
#comentarios #comment-faq-en a {
	opacity:.5;
	filter:alpha(opacity=50);
}
#comentarios #comment-faq-en a:hover {
	opacity:1;
	filter:alpha(opacity=100);
}


#star ul.star { LIST-STYLE: none; MARGIN: 0; PADDING: 0; WIDTH: 85px; HEIGHT: 20px; LEFT: 10px; TOP: -5px; POSITION: relative; FLOAT: left; BACKGROUND: url('/Imagenes/Varios/stars.gif') repeat-x; CURSOR: pointer; }
#star li { PADDING: 0; MARGIN: 0; FLOAT: left; DISPLAY: block; WIDTH: 85px; HEIGHT: 20px; TEXT-DECORATION: none; text-indent: -9000px; Z-INDEX: 20; POSITION: absolute; PADDING: 0; }
#star li.curr { BACKGROUND: url('/Imagenes/Varios/stars.gif') left 25px; FONT-SIZE: 1px; }
#star div.user { LEFT: 15px; POSITION: relative; FLOAT: left; FONT-SIZE: 13px; FONT-FAMILY: Arial; COLOR: #888; }



#notify-table {  position:fixed;
				top:0;
				left:0;
				width:100%;
				z-index:100;
				font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif;
				font-size:130%;
				font-weight:bold;
				letter-spacing:-1px;
				color:#735005;
}

.notify td {  border-bottom:solid 1px #D6800C;
			padding:7px 0 7px 0;
			text-align:center;
			background-color:#F4A83D;
}

.notify{width:95%;}

.notify a{ color:#735005;
		   text-decoration:underline;
		   text-align:center;
}

.notify-close a{ color:#735005;
				text-decoration:none;
				background-color: #FAD163;
				border:2px #735005 solid;p
				adding-left:4px;
				text-align:center;
				padding-right:4px;
}

/* mensajes ajax */
#mensaje {
	background:#aaeb54;
	text-align:center;
	width:380px;
}

#mensaje h1 {
	font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-weight:bold;
	font-size:18px;
}


.resumenPost{ font-size: 92%; line-height: 1.5; padding: 0px 0; width:800px; color: #4c4c4c;}
.resumenPost a {color:#E22914;}

.separador {border-top: 5px double lightGrey; font-size: 94%; margin-top: 6px; padding: 0px 0px 0px; word-wrap: break-word; width:620px; }


#panelIzquierdo {
	font: normal normal normal 11px/normal 'Trebuchet MS', Verdana, Arial, sans-serif;
	text-decoration: none;
	color: #D1E1C8;
}

#panelIzquierdo 	a:link 	  {  	color: #D1E1C8; }
#panelIzquierdo 	a:visited 	  {  	color: #D1E1C8; }
#panelIzquierdo a:active 	  {  	color: #D1E1C8; }
#panelIzquierdo 	a:hover 	  {  	color: white; }

.sinDecorar { text-decoration:none; border:none; }


div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
}

div.pagination a {
	border: 1px solid #dedfde;
	margin-right:3px;
	padding:2px 6px;

	background-position:bottom;
	text-decoration: none;

	color: #666;
}
div.pagination a:hover, div.meneame a:active {
	border: 1px solid #000;
	background-image:none;
	background-color:#999999;
	color: #fff;
}
div.pagination span.current {
	margin-right:3px;
	padding:2px 6px;

	font-weight: bold;
	color: red;
}
div.pagination span.disabled {
	margin-right:3px;
	padding:2px 6px;

	color: #adaaad;
}

div.ui-datepicker {
	background-color: #FFF;
}
span.expiryExpired {
	color: #F00;
}
span.expiryCurrent {
	color: #FFF;
}




<!-- New Cact -->

.cRight{
	float: right!important;
}

.c-inline, .c-inline li{
	display: inline;
}

.c-alignBottom{
	vertical-align: bottom;
}


#cHeaderLogin {
	float: right;
}

.controlButton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.controlButtonGold {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.controlButtonGold:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.controlButtonGold:active {
	position:relative;
	top:1px;
}

#cHeaderControls {
	float: right!important;
	margin-top: 14px;
	margin-right: 10px;
}

#languageButtons{
	padding-top: 10px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 6px;
}
#twitterFollow{
	margin-top: 10px;
}

#mainLogo img {
	width: 439px;
	height: 126px;
	float: left;
}
#headerControls {
	float: right;

}

#cWrapperGlobal {
	margin-left: auto;
	margin-right: auto;
	//background-color: #333;
	max-width:1220px;
	text-align:center;
  background-color: #C8D1A1;
}

.cTitles {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #433518;
	font-weight: bold;
	float: left;
	margin-left: 20px;
}

.actividadRecienteBS {
	width:95%;
	text-align:left;
	color:#D1E1C8;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
}

.recentActivity{
	clear:both;
}

#tablaActividadesCompletaBS {
	float: left;
}
#tablaActividades {
	clear:left;
}

.actividadRecienteBS { width:95%; text-align:left; color:#D1E1C8; font-family: Arial, Helvetica, sans-serif; font-size:11px;}
.actividadRecienteBS #tablaActividades { width:100%;  border-style:none; border-width:0px; }
.actividadRecienteBS #tablaActividades a { font-size:13px; font-weight:bold; color:white;}


/* color:#D1E1C8; */
.tablaActividadesCompletaBS { width:95%; text-align:left; color:#c4bc7b; font-family: Arial, Helvetica, sans-serif; font-size:11px;}
.tablaActividadesCompletaBS #tablaActividadesBS { width:100%;  border-style:none; border-width:0px; }
.tablaActividadesCompletaBS #tablaActividadesBS a { font-size:13px; font-weight:bold; color:white;}

#tablaActividadesBS tr {
	background-color: #28391F;
  /*color: #FFCC00;*/
}
#statsPanel {
  clear: both;
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.07);*/
	padding-top: 10px;
	height: 220px;
	margin-top: 20px;
}
#userSpace {
	width: 200px;
	float: left;
	height: 205px;
	margin: 10px;
}
#userStats {
	width: 165px;
	float: left;
	padding-left: 15px;
	margin: 10px;
  /* padding-right: 10px; */
}
#recentActiveUsers {
  width: 360px;
	float: left;
	margin: 10px;
}
table.fondoTablaBS, .fondoTablaBS{
	border-width: 0px;
	border-spacing: 1px;
	border-style: none;
	border-color:  none;
	border-collapse: separate;
	background-color: #333;
	font-size: 10pt;
	font: normal normal normal 11px/normal 'Trebuchet MS', Verdana, Arial, sans-serif;
	text-decoration: none;
	color: #D1E1C8;
	width:90%;
	height: 179px;
	margin-left: auto;
	margin-right: auto;
}
.middleCenter {
	width: 60%;
	text-align: center;
}
.topSliders {
	margin-left: 20px;
}
.halfWidth {
	width: 47%;
	float: left;
}
.leftFloat {
	float: left;
}
.leftMargin {
	margin-left: 22px;
}
.smallLeftMargin {
	margin-left: 13px;
}
.photosLeftMargin {
	margin-left: 22px;
}

.coleccionistaDestacado {
  float:left;
	margin-left: 6%;
	margin-right: 3%;
}
.topPaises {
	float: left;
}


.formLabel{
	/* float: left; */
	min-width: 160px;
	text-align: center;
	color: #FFCC00;
	font-weight: bold;
}
.formField{
	margin-top: 14px;
	margin-left: 0px;
/*	text-align: left; */
}


@media only screen and (max-width: 400px) {
	.formLabel{
		width: 300px;
	}
	.formField{
		margin-left: 100px;
	}
}



.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    color: #2A572D; 
}

.ui-tabs .ui-tabs-nav li a {
	font-size: 12pt;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: #C8D1A1;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #C8D1A1;
}

.ui-widget-content {
	background: none;
}

.ui-widget-header {
	border: 1px solid #18290F;
    background-color: #28391F;
}